CIF_files
/venv
/data
/CIF_and_example_generation/dataset_of_764_files.pt
/CIF_and_example_generation/dataset_of_765_files.pt
/CIF_and_example_generation/CIF_files.zip
models/xrd_diffusion
*.png